@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

#ToggleTheme {

	#toggleBtn {
		display: flex;
		align-items: center;
		color: var(--nav-color);

		&:hover {
			cursor: pointer;
		}

		.toggle {
			color: var(--nav-color);
		}
	}
}
