@import '../../../../assets/sass/_var.scss';

#signUp {

  .background {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    color: var(--color);
    position: relative;

    .content-box {
      display: flex;
      width: 65%;
      height: 80%;
      background-color: var(--sign-form-background);
      color: var(--sign-form-color);
      margin: 0px auto;
      border-radius: 10px;
      position: relative;
      // top: 25%;
      // bottom: 25%;

      .content-left {
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background: $neatbeat-info-gradient;
        border-radius: 10px 0 0 10px;

        i {
          font-size: 100px;
          color: var(--background);
        }
      }

      .content-right {
        width: 65%;
        height: 100%;
        padding: 25px;

        h1, h2 {
          font-family: 'Montserrat', sans-serif;
          text-align: start;
        }

        form {

          i {
            cursor: pointer;
            margin-left: -30px;
            color: black;
          }
        }
      }
    }
  }

}

.dark {
  #signUp {
    --sign-form-color: #ddd;
    --sign-form-background: #191919;
  }
}

.light {
  #signUp {
    --sign-form-color: #1d1f20;
    --sign-form-background: #E3E3E3;
  }
}