// primacy Colors
$neatbeat-dark: #02474A;
$neatbeat-akzent: #0c5b68;
$neatbeat-light: #28938B;
$neatbeat-blue: #11829f;
$neatbeat-dark: #191919;
$neatbeat-dark-background: #1d1f20;
$neatbeat-light: #cccccc;
$neatbeat-light-background: #E3E3E3;

// information Colors
$neatbeat-warning: #AD7f20;
$neatbeat-error: #BB2525;
$neatbeat-success: #218B25;
$neatbeat-information: #11829f;

// gradients:
$neatbeat-info-gradient: linear-gradient(40deg, rgba(17,130,159,1) 0%, rgba(40,147,155,1) 25%, rgba(12,91,104,1) 66%, rgba(2,71,74,1) 100%);

// fonts:



